    /* CSS declarations go here */
    
    body {
        font-family: sans-serif;
        background-color: #794bc4;
        /* background-image: linear-gradient(to bottom, #794bc4, #918e82 100%); */
        background-attachment: fixed;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 0;
        margin: 0;
        font-size: 14px;
    }
    
    .container {
        max-width: 600px;
        margin: 0 auto;
        min-height: 100%;
        background: white;
    }
    
    header {
        background: #d2edf4;
        background-image: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%);
        padding: 20px 15px 15px 15px;
        position: relative;
    }
    
    #login-buttons {
        display: block;
    }
    
    h1 {
        font-size: 1.5em;
        margin: 0;
        margin-bottom: 10px;
        display: inline-block;
        margin-right: 1em;
    }
    
    form {
        margin-top: 10px;
        margin-bottom: -10px;
        position: relative;
    }
    
    .user-name input {
        box-sizing: border-box;
        padding: 10px 0;
        background: transparent;
        border: none;
        width: 100%;
        padding-right: 80px;
        font-size: 1em;
    }
    
    .user-name input:focus {
        outline: 0;
    }
    
    ul {
        margin: 0;
        padding: 0;
        background: white;
    }
    
    .delete {
        float: right;
        font-weight: bold;
        background: none;
        font-size: 1em;
        border: none;
        position: relative;
    }
    
    li {
        position: relative;
        list-style: none;
        padding: 15px;
        border-bottom: #eee solid 1px;
    }
    
    li .text {
        margin-left: 10px;
    }
    
    li.checked {
        color: #888;
    }
    
    li.checked .text {
        text-decoration: line-through;
    }
    
    li.private {
        background: #eee;
        border-color: #ddd;
    }
    
    header .hide-completed {
        float: right;
    }
    
    .toggle-private {
        margin-left: 5px;
    }
    
    @media (max-width: 600px) {
        li {
            padding: 12px 15px;
        }
        .search {
            width: 150px;
            clear: both;
        }
        .user-name input {
            padding-bottom: 5px;
        }
    }
    
    .profileDiv {
        background: #b3b3b3;
    }
    
    .profileDiv .row {
        display: flex;
        justify-content: space-around;
    }
    
    .profileDiv img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin: 10px;
    }
    
    .profileDiv h3 {
        margin: 10px;
        margin-top: 0;
        padding-bottom: 10px;
        color: #140925;
        font-weight: 600;
    }
    
    .hide {
        display: none;
    }
    
    .loadTweet {
        background: #03b3f1;
        color: #fff;
        width: 100%;
        padding: 10px 0;
        border-radius: 10px;
        text-align: center;
    }